<!doctype HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <style>
            h2 {
                position: absolute;
                right: 50px;
                top: 0;
            }
        </style>
    </head>
    <script src="https://aframe.io/releases/0.9.0/aframe.min.js"></script>
    <script src="https://rawgit.com/jeromeetienne/AR.js/master/aframe/build/aframe-ar.min.js"></script>
    <script src="https://rawgit.com/donmccurdy/aframe-extras/master/dist/aframe-extras.loaders.min.js"></script>
    
    <body style='margin : 0px; overflow: hidden;'>
        <script>
            console.log("starting");
            prob = parseInt("{{ prob }}");

            AFRAME.registerComponent('markerhandler', {
              init: function () {
                var startMarkerEl = document.getElementById("startMarker");
                
                startMarkerEl.addEventListener('markerFound', (ev) => {
                    console.log("Marker 'Start' found")
                    prob = Math.random();

                    var catEl = document.getElementById("cat");
                    catEl.setAttribute('prob', prob);
                });

                var catMarkerEl = document.getElementById("catMarker");
                catMarkerEl.addEventListener('markerFound', (ev) => {
                    console.log("Marker 'Cat' found")

                    var catEl = document.getElementById("cat");
                    probCat = catEl.getAttribute('prob');

                    if(probCat < 0.5) {
                        color = "#FFC300"
                        prob = 0
                    } else {
                        color = "#DAF7A6"
                        prob = 1
                    };
                    catEl.setAttribute('color', color);

                    if(probCat) {
                        url = '/scene2/' + prob;
                        console.log(url);
                        window.location = url;
                    }
                    
                });
            }});
          </script>

        <div class="background">
            <h2>{{score}}</h2>
        </div>

        <a-scene embedded arjs='sourceType: webcam; debugUIEnabled: false; detectionMode: mono_and_matrix; matrixCodeType: 4x4;'>

            <!-- <a-assets>
                <a-asset-item id="cat" src="cat/scene.gltf"></a-asset-item>
            </a-assets> -->

        <a-marker markerhandler id="startMarker" type='barcode' value='0'>
            <a-sphere id="sphere" color="#C70039"></a-sphere>
        </a-marker>

        <a-marker markerhandler id="catMarker" type='barcode' value='1'>
            <a-sphere id="cat"></a-sphere>
            <!-- <a-entity gltf-model="#cat"></a-entity> -->
        </a-marker>

        <a-entity camera></a-entity>
        </a-scene>
    </body>
</html>