<!doctype HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
        h2 {
            position: absolute;
            right: 50px;
            top: 0;
        }
    </style>
</head>
<script src="https://aframe.io/releases/0.9.0/aframe.min.js"></script>
<script src="https://rawgit.com/jeromeetienne/AR.js/master/aframe/build/aframe-ar.min.js"></script>
<script src="https://rawgit.com/donmccurdy/aframe-extras/master/dist/aframe-extras.loaders.min.js"></script>

<body style='margin : 0px; overflow: hidden;'>

    <a-scene embedded arjs='sourceType: webcam; debugUIEnabled: false; detectionMode: mono_and_matrix; matrixCodeType: 4x4;'>

        <a-marker id="marker-1" type='barcode' value='0'>
            <a-sphere color ="blue" mradius="1" position="0 1 0">
                <a-animation attribute="rotation" to="0 360 0" dur="10000" repeat="indefinite"></a-animation>
            </a-sphere>
            <a-cylinder color ="black" height ="5" radius="0.05" position="0 1 0"></a-cylinder>
            <a-cone color ="black" height ="0.25" radius-bottom="0.02" radius-top="0.1" position="0 -1.5 0" ></a-cone>
        </a-marker>

        <a-marker id="marker-2" type='barcode' value='1'>
            <a-sphere color="blue" radius="1" position="0 1 0">
                <a-animation attribute="rotation" to="0 360 0" dur="10000" repeat="indefinite"></a-animation>
            </a-sphere>
            <a-cylinder color ="black" height ="5" radius="0.05" position="0 1 0"></a-cylinder>
            <a-cone color ="black" height ="0.25" radius-bottom="0.1" radius-top="0.02" position="0 3.5 0" ></a-cone>
        </a-marker>
        
        <a-marker id="marker-3" type='barcode' value='3'>
            <a-sphere color="blue" radius="1" position="0 1 0">
                <a-animation attribute="rotation" to="0 360 0" dur="10000" repeat="indefinite"></a-animation>
            </a-sphere>
            <a-cylinder color ="black" height ="5" radius="0.05" position="0 1 0"></a-cylinder>
            <a-cone color ="black" height ="0.25" radius-bottom="0.1" radius-top="0.02" position="0 3.5 0" ></a-cone>
        </a-marker>

        <a-marker type = "hiro">
            <a-entity gltf-model="a-box" scale="2 2 2"></a-entity>
            <a-box position="0 0 0" color="tomato" depth="1" height="1" width="1">
                  <a-animation attribute ="rotation"
                  dur="3000" 
                  to="30 90 30"
                  repeat="indefinite"
                  easing="linear">
                  </a-animation>
                </a-entity>
              </a-box>

        <a-entity camera></a-entity>
    </a-scene>

    <script>
        let marker1Visible = false;
        let marker2Visible = false;

        document.querySelector('#marker-1').addEventListener('markerFound', () => {
            marker1Visible = true;
            checkMarkers();
        });

        document.querySelector('#marker-1').addEventListener('markerLost', () => {
            marker1Visible = false;
        });

        document.querySelector('#marker-2').addEventListener('markerFound', () => {
            marker2Visible = true;
            checkMarkers();
        });

        document.querySelector('#marker-2').addEventListener('markerLost', () => {
            marker2Visible = false;
        });

        function checkMarkers() {
            if (marker1Visible && marker2Visible) {
                window.location = '/scene1/10';
            }
        }
    </script>
</body>
</html>